@charset "utf-8";
#header h1 {
    text-align: center;
    color: #223030;
    background-color: #EFEFE9;
    border-radius: 10px;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#navigation ul
{
    list-style-type: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
}
#navigation ul li
{
    float: left;
    width: 14%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navigation ul li a
{
    display: block;
    background-color: #523D35;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navigation .fatima
{
    background-color: #BBA58F;    
}
#navigation ul li a:hover 
{
    background-color: #BBA58F;
    text-decoration: none;
	border-radius: 10px;
}
#banner video a {
}
#footer {
	text-align: right;
	padding-right: 9px;
	color: #223030;
}
