@charset "UTF-8";
h1 {
    text-align: center;
    color: #223030;
    background-color: #EFEFE9;
    border-radius: 10px;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
} 

#navigation ul
{
    list-style-type: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
}
#navigation ul li
{
    float: left;
    width: 14%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navigation ul li a
{
    display: block;
    background-color: #523D35;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navigation .shahad
{
    background-color: #BBA58F;    
}
#navigation ul li a:hover 
{
    background-color: #BBA58F;
    text-decoration: none;
	border-radius: 10px;
}
#content p {
    list-style-type: none;
    text-align: center;
    float: none;
    /*margin-top: 104px;*/
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 41px;
    margin-top: 34px;
    font-size: 15px;
}
#content p  {
    float: none;
    width: 80%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #E8D9CD;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#content p {
    background-color: #E8D9CD;
    color: #523D35;
    text-decoration: none;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}


#container {
    background-color: #959D90;
    border-radius: 10px;
    left: -14px;
}
#footer {
    text-align: right;
    padding-right: 9px;
	color: #223030;
}

#content .box1{
    width: 82.5%;
    height: 480px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    background-color: #E8D9CD;
    margin-top: -16px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
} 


iframe {
    position: absolute;
    left: 351px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: auto;
    padding-right: auto;
    padding-bottom: auto;
    padding-left: auto;
}
